
@{
    ViewBag.Title = "FinalMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmed Order</h2>

<p> Your Order is Successfully submitted </p>
<a href='@Url.Action("New", "Shopping")'> Back to order page</a>