
@{
    ViewBag.Title = "FinalMessage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>FinalMessage</h2>
<p> New category is created </p>
<a href='@Url.Action("New", "Shopping")'> show Shopping page</a>
