@model shop.Models.Category
@{
    ViewBag.Title = "Create Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
@using (Html.BeginForm("Save", "Category", FormMethod.Post))
{
    <div class="form-group">
        <label for="Category_Name">Category  Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    
    <br />
    @Html.AntiForgeryToken()
    <button type="submit" id="submit" class="btn btn-primary"> Create </button>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
